.table_img{
    width: 55%;
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
}
.container-fluid{
    height:100vh;
}
body .ui-overlaypanel{
    text-align: center;
}

.header_width:nth-child(n){
    width: 40px;
}
.header_width:nth-child(5){
    width: 65px;
}
.header_width:nth-child(6){
    width: 45px;
}
.header_width:nth-child(10){
    width: 55px;
}
.header_width:nth-child(11){
    width: 50px;
}
.header_width:nth-child(1){
    width: 45px;
}
.header_width:nth-child(2){
    width: 30px;
}
.header_width:nth-child(3){
    width: 30px;
}
.header_width:nth-child(7){
    width: 30px;
}
.header_width:nth-child(8){
    width: 30px;
}
.header_width:nth-child(9){
    width: 30px;
}