<div class="container-fluid">
    <div class="row text-center justify-content-center mt-4" style="padding-top: 10px;">
        <div class="col-md-3 mt-5">
            <img src="../../assets/background/ttd_temple.png" width="50%">
        </div>
        <div class="col-md-6 card heading_card">
            <p class="heading_text">Thirumala Police FRS</p>
        </div>
        <div class="col-md-3 mt-5">
            <img src="../../assets/background/balaji_header.png">
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-12">
            <div class="text-center" style="display: flex; justify-content: center;">
                <p style="font-size: 19px; font-weight: 500; border-bottom: 3px solid #d56a2a; width: 14%; padding-bottom: 6px;">Suspect</p>
            </div>
            <p-table #dt [columns]="cols" [value]="tableData" [rowsPerPageOptions]="[5,10,25,50,100]" [paginator]="true"
            [globalFilterFields]="['name','age','gender','policestation_name','fir_number']"  [rows]="10" [scrollable]="true" [style]="{width:'100%','font-size': '0.8em'}" class="camel_case">
                <ng-template pTemplate="caption">
                    <div style="text-align: center" class="search">
                        <i class="fa fa-search " style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="25" placeholder="Search By Name, Age , Gender, Police Station and FIR"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:40%">
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" class="header_width">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td class="tdClass" *ngFor="let col of columns">
                          <span *ngIf="col.header != 'Live Image' && col.header != 'Image' && col.header != 'Date'" style="text-transform: capitalize;">{{rowData[col.field]}}</span>
                          <span *ngIf="col.header == 'Image' || col.header == 'Live Image'">
                              <img class="table_img" height="auto" width="auto" (click)="imagePOPUP(rowData[col.field])"
                              [src]="rowData[col.field]|sanitizer">
                          </span>
                          <span *ngIf="col.header == 'Date'">
                           {{rowData[col.field] | date:'medium'}}
                        </span>
                      </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>   
        <p-dialog [(visible)]="popup">
            <img [src]="enlargedImg|sanitizer" class="over_img" id="rimg">
            <p-footer>
                <div class="row justify-content-center">
                    <span class="rotateimg"><i title="Rotate 90 Deg Left" class="material-icons" (click)="rotateImage(-90)">rotate_left</i></span>
                    <span class="rotateimg"><i title="Rotate 90 Deg Right" class="material-icons" (click)="rotateImage(90)">rotate_right</i></span>
                </div>
            </p-footer>    
        </p-dialog> 
    </div>

</div>

<!-- <p-overlayPanel #op>
    <img [src]="overlayImg">
</p-overlayPanel> -->
