
<div class="conatiner bg_color">
  <div class="row justify-content-center">
    <img src="../../assets/background/balaji_header.png" class="balaji_style">
  </div>
  <div class="row top_neg">
    <div class="card ">
      <div class="row padding_style mb-3">
        <img src="../../assets/ap_police.png" class="ap_profile_icon">
        <img src="../../assets/guise.logo.png" class="guise_profile_icon">
        <img src="../../assets/TTD-Logo.png" class="vij_profile_icon ">
        
      </div>
  
      <div class="row align_style">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="login_form">
  
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control backgound_style" formControlName="email" />
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control backgound_style" formControlName="password">
          </div>
          <div class="form-group text-center sendbtn mt-2">
            <button pButton type="submit" label="Submit"></button>
          </div>
        </form>
      </div>
    </div>        
  </div>




  <!-- <div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-3 ml-5 login_card">
      <div class="card">
        <div class="row col-md-12">
          <div class="text-left">
            <img src="assets/vij-police-logo.png" class="profile_icon" alt="police logo" />
          </div>
          <div class="text-center">
            <img src="../../assets/guise.logo.png" class="profile_icon" alt="guise logo">
          </div>
          <div class="text-right mt-neg">
            <img src="../../assets/ap_police.png" class="profile_icon">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div> -->
</div>