

/* .heading{
    text-align:center;
    text-transform: uppercase;
    padding: 2% 0% 0% 0%;
}


.login_btn{
    background-color: #1773bb;
    border:none;
    border-radius: 20px;
    font-size:17px;
    font-weight: 400;
    padding:6px 37px;
    color:#fff;
}
.profile_icon{
    width: 30%;
    height: auto;
}
.login_card{
    margin-top:10%
}
::-webkit-input-placeholder { 
    color: #5c8baf;
    font-size:13px;
  }
  
  :-ms-input-placeholder { 
    color: #5c8baf;
    font-size:13px;
  }  
  
  ::placeholder {
    color: #5c8baf;
    font-size:13px;
  }
  input { border: 0.5px solid #2b7bb8; }
  .form-control{
    width: 85%;
    margin: auto;
    height:40px;
}
.anchortag{
    cursor: pointer;
    color:#fff;
    font-size: 13px;
}

.card {
    opacity: inherit;
    filter: alpha(opacity=60);
    padding: 0px;
    box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.validation{
    margin-left: 8%;
}
.login_heading{
   text-transform: uppercase;
}
input:focus { 
    outline: none !important;
    border-color: #1773bb;
    box-shadow: 0 0 5px #1773bb;
}
#element {
	caret-color: green;
	caret-color: #666666;
}
.mt-neg{
    margin-top:-19%;
    margin-left: 5%;
} */


/* Nanda Css for login page */

.conatiner{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ap_profile_icon{
    width: 22%;
    height: 100px;
    text-align: left;
    margin-left: 2%;
}
.guise_profile_icon{
    width: 37%;
    text-align: center;
    height: 61px;
    margin: 6% 4% 0% 8%;

}
.vij_profile_icon{
    text-align: right;
    width: 27%;
    height: 110px;
}
.card{
    /* justify-content: center; */
    margin: 0 auto;
    min-height: auto;
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    background: none;
    border-radius: none;
    border: none;
    overflow: hidden;
    justify-content: space-between;
    text-align: center;
}

.bg_color{
    min-height: 100vh;
    /* background-image: linear-gradient(#1773bb, #ffffff, #149754); */
    /* background-image: url("../../assets/balaji_background.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    /* background-image: linear-gradient(to right top, #d86623, #d46337, #ce6146, #c56253, #bb635e); */
    /* background-image: linear-gradient(to bottom, #3b9ceb, #00b2f0, #00c3de, #00d1ba, #42da8d); */
    background-image : url("../../assets/background/Banner-bg.jpg"); 
}
    .bg_img{
        /* background-image: url("../../assets/balaji_background.png"); */
        background-position: top;
        background-repeat: no-repeat;
        background-size: auto;
    }
.padding_style{
    padding: 14px 10px 14px 10px;
}
.align_style{
    justify-content: center;
}
.backgound_style{
    background-color: #fff !important;
}
.sendbtn button{
    border-radius: 8px;
    border: none;
}
.login_form{
    width: 50%;
    margin-left: 5%;
}
.balaji_style{
    height: 162px;
    width: 20%;
    margin-top: -8%;
}
.top_neg{
    margin-top: -18%;
}