



<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="nav flex-column margins pading_style mt-4">
      <li class="nav-item" *ngFor="let item of sidenavElements">
        <div class="nav-link" routerLinkActive="active" [routerLink]="[item.routerLink]" href="javascript:void(0)"
          (click)="tabId=item.id">
          <div class="row">
            <div class="mr-2 ml-1">
              <img [src]="item.image" height="27px" width="30px" class="sidenav_icon">
            </div>
            <div class="mt-1">
              <span>{{item.name}}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </mat-drawer>
  <div class="container-fluid" *ngIf="showHeader">
  <div class="row">
    <mat-toolbar class="background">
      <mat-toolbar-row>
        <span>
          <img src="assets/ap_police.png" class="ap_logo"></span>
        <span class="example-spacer"></span>
        <span>
          <img src="../assets/TTD-Logo.png" class="vij_logo">
        </span>
        <span class="example-spacer"></span>
        <button mat-mini-fab (click)="logOut()">
          <mat-icon class="example-icon">power_settings_new
          </mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
  <router-outlet></router-outlet>
</mat-drawer-container>