
.example-spacer {
  flex: 1 1 auto;
}
  .menu_icon{
    font-size:30px;
    color:#fff;
    cursor: pointer;
    margin-top:10px
  }
  .background {
    /* background-color:#5E9ED0; */
    /* background-image: linear-gradient(to right, #5E9ED0, #07914b); */
    /* background-image: linear-gradient(to top, #047cd7, #1284dd, #1d8ce3, #2795e8, #319dee); */
    background-image: radial-gradient(circle, #d56827, #d56a2a, #d66c2d, #d66d30, #d66f33);
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
    width: 86.5%;
    color: #fff;
    position: fixed;
    z-index: 999;
  }

  .active {
    color: #fff;
    font-weight: 500;
    /* border: none; */
    font-size: 15px !important;
    border-bottom: 3px solid #d56a2a !important;
    /* border-left: 3px solid #067ed8 !important; */
    /* margin: 0rem 0rem 0px 0rem; */
  }
  
  .fa-sign-out {
    font-size: 24px;
    color: #d9d9d9;
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
  }
  .sidenav_icon{
    font-size: 28px;
  }
  
  .nav-link {
    font-size: 16.5px;
    cursor: pointer;
  }
  .vij_logo{
    height:90px;
    width:auto;
    margin-left: -30%;
  }
  .ap_logo{
    height:70px;
    width:auto;
  }  
  ::ng-deep .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 75px !important;
  }
  
  ::ng-deep .mat-toolbar-multiple-rows {
    min-height: 0px !important;
  }

  
  ul li:first-child {
    margin: 1.0rem 0 0 0;
    
  }
  
  ul li:last-child {
    margin: 0 0 2rem 0;
  }
  
  .example-icon{
    color:#000;
  }
  .mat-mini-fab{
    background-color: #fff;
  }
  .example-container{
    min-height: 100vh;
    /* background-color: #EFE9E5;  */
    /* background-image: url("../assets/balaji_background.png.jpg"); */
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    background-size: auto;
  }
  .example-sidenav {
    /* background-image: linear-gradient(to top, #58b585, #58b686, #58b786, #58b887, #58b987); */
    background-image: linear-gradient(to top, #cb8350, #c4724b, #bc6247, #b25144, #a84142);
    color: #fff;
    margin-right: 10px;
    height: 100%;
    width:200px;
    position: fixed;
    z-index: 999;
  }
  
  .sideNavRow {
    padding: 0;
    min-height: 100vh;
  }
  
  .nav-item {
    padding: 0px 0px 0px 0px;
    margin: 0rem 1.3rem 0.9rem 1.3rem !important;
  }
  .nav-item:hover{
    border-bottom: 2px solid #d56a2a;
  }

  
  