<div class="container-fluid">
    <div class="row text-center justify-content-center mt-4" style="padding-top: 10px;">
        <div class="col-md-3 mt-5">
            <img src="../../assets/background/ttd_temple.png" width="50%">
        </div>
        <div class="col-md-6 card heading_card">
            <p class="heading_text">Thirumala Police FRS</p>
        </div>
        <div class="col-md-3 mt-5">
            <img src="../../assets/background/balaji_header.png">
        </div>
    </div>
    <div class="row pb-2 ">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center mb-1">
            <mat-form-field>
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="fDate" (dateChange)="dateWiseFilter()" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="tDate" (dateChange)="dateWiseFilter()" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <!-- <button type="submit" (click)="submit()" class="filter_btn">Filter</button> -->
        </div>
    </div>

    <div class="row mt-4 mb-3">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-4  text-center flex_display mb-2">
            <div class="known_card">
                <img src="../../assets/icons_ttd/icon3.png" class="rec_face">
                <p>Known Faces :{{faceFoundCount}} </p>
                <!-- <p class="count"></p> -->
            </div>
        </div>
        <div class="col-md-4 text-center flex_display mb-2">
            <div class="unknown_card" (click)="routeToPage('/unknown')">
                <img src="../../assets/icons_ttd/icon4.png" class="rec_face">
                <p>Unknown Faces : {{faceunFoundCount}}</p>
                <!-- <p class="count"></p> -->
            </div>
        </div>
        <div class="col-md-4 text-center flex_display mb-2">
            <div class="total_card" (click)="routeToPage('/register')">
                <img src="../../assets/icons_ttd/icon5.png" class="rec_face">
                <p>Total Faces Registered : {{totalfacesRegistrationCount}}</p>
            </div>
        </div>
        <div class="col-md-4 text-center flex_display mt-3">
            <div class="total_card" (click)="routeToPage('/missing')">
                <img src="../../assets/icons_ttd/icon2.png" class="rec_face">
                <p>Missing Faces : {{totalFacesMissingCount}}</p>
            </div>
        </div>
        <div class="col-md-4 text-center flex_display mt-3">
            <div class="total_card" (click)="routeToPage('/suspect')">
                <img src="../../assets/icons_ttd/icon1.png" class="rec_face">
                <p>Suspects Faces : {{totalFacesSuspectedCount}}</p>
            </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
    </div>
</div>