
.container-fluid{
    overflow: hidden;
}
.known_card{
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    /* background-color: #047cd8; */
    /* background-image: linear-gradient(to top, #0d8aeb, #2c92e6, #4299e1, #57a0dc, #6aa7d6); */
    padding:10px;
    color:rgb(229, 226, 226);
    font-weight:500;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #efe9e5;
    width: 75%;
    /* background-color: #fff; */
    color: #000;
}
.unknown_card{
    font-weight:500;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    /* background-color: #09a9ff; */
    /* background-image: linear-gradient(to top, #248ac2, #3c98cd, #50a7d8, #63b5e4, #75c4ef); */
    padding:10px;
    color:rgb(229, 226, 226);
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #efe9e5;
    width: 75%;
    /* background-color: #fff; */
    color: #000;
    cursor: pointer;
}
.total_card{
    font-weight:500;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    /* background-color: #58B585; */
    /* background-image: linear-gradient(to top, #07a450, #06b258, #05c15f, #03cf67, #01de6f); */
    padding:10px;
    color:rgb(229, 226, 226);
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #efe9e5;  
    width: 75%;
    /* background-color: #fff; */
    color: #000;
    cursor: pointer;
}
.count{
    font-size:18px;
}

.rec_face{
    height: 60px;
    width:auto;
}
.flex_display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter_btn{
    border-radius: 8px;
    border: none;
    background-color: #116FBF;
    padding: 0.3em 1.5em;
    color: #fff;
}

.container-fluid{
    height:100vh;
}