/* You can add global styles to this file, and also import other style files */

html, body { 
  font-family: Roboto;
  overflow-y: hidden;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}
.heading_card{
  width: 50%;
  font-size: 22px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* top: 40px; */
  position: relative;
  margin-top: 5%;
  margin-bottom: 1%;
  /* margin-bottom: 2%; */
  background-color: unset;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.16); */
  border: none;
}
.heading_text{
  margin-bottom: 0px;
  padding: 10px;
  font-weight: 500;
  color: #d56a2a;
}
/* .ui-overlaypanel{
  width: 450px !important;
  left: 25% !important;  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
.over_img{
  max-width: 250px;
  width: 100% !important;
  height: auto !important;
}
/* .ui-overlaypanel-content{
  padding: 0px !important;
} */

.rotateimg{
  color: #0e82db;
  margin:  0px 30px;
  cursor: pointer;
}
.ui-dialog .ui-dialog-content{
  height: auto;
  padding: 30px 40px !important;
  overflow: hidden !important;
}
.ui-dialog .ui-dialog-content img{
  max-width: 225px !important;
  max-height: 225px !important;
}
.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active{
  background-color: #d56827 !important;
}
.ui-paginator, th, .ui-table .ui-table-caption, .ui-widget-header .ui-inputtext, .ui-table .ui-table-tbody tr:nth-child(even), .ui-table .ui-table-tbody tr:nth-child(odd) {
  background: transparent !important;
}
.container-fluid{
  background-image: url("./assets/balaji_background.png.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
          