<div class="container-fluid">
    <div class="row text-center justify-content-center mt-4" style="padding-top: 10px;">
        <div class="col-md-3 mt-5">
            <img src="../../assets/background/ttd_temple.png" width="50%">
        </div>
        <div class="col-md-6 card heading_card">
            <p class="heading_text">Thirumala Police FRS</p>
        </div>
        <div class="col-md-3 mt-5">
            <img src="../../assets/background/balaji_header.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center" style="display: flex; justify-content: center;">
                <p
                    style="font-size: 19px; font-weight: 500;border-bottom: 3px solid #d56a2a; width: 14%; padding-bottom: 6px;">
                    Unknown</p>
            </div>
            <p-table #dt [columns]="cols" [value]="tableData" [scrollable]="true"
                [globalFilterFields]="['age','gender']" [style]="{width:'100%','font-size': '0.8em'}"
                [rowsPerPageOptions]="[10,15,25,50,100]" [paginator]="true" [rows]="10" class="camel_case"
                selectionMode="single">
                <ng-template pTemplate="caption">
                    <div style="text-align: center" class="search">
                        <i class="fa fa-search " style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="25" placeholder="Search By Age, Gender "
                            (input)="dt.filterGlobal($event.target.value, 'equals')" style="width:40%">
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" class="header_width">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td class="tdClass" *ngFor="let col of columns">
                            <span *ngIf="col.header != 'Register' && col.header != 'Image' && col.header != 'Date'"
                                style="text-transform: capitalize;">{{rowData[col.field]}}</span>
                            <span *ngIf="col.header == 'Image'">
                                <img class="table_img" height="auto" width="auto"
                                    (click)="imagePOPUP(rowData[col.field])" [src]="rowData[col.field]|sanitizer">
                            </span>
                            <span *ngIf="col.header == 'Date'">
                                {{rowData[col.field] | date:'medium'}}
                            </span>
                            <span style="cursor: pointer;" (click)="onRecordSelected(rowData)"
                                *ngIf="col.header == 'Register'">
                                <button pButton type="button" label="Register" class="ui-button-raised bg_sep"></button>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog [(visible)]="popup">
    <img [src]="enlargedImg|sanitizer" class="over_img" id="rimg">
    <p-footer>
        <div class="row justify-content-center">
            <span class="rotateimg"><i title="Rotate 90 Deg Left" class="material-icons" (click)="rotateImage(-90)">rotate_left</i></span>
            <span class="rotateimg"><i title="Rotate 90 Deg Right" class="material-icons" (click)="rotateImage(90)">rotate_right</i></span>
        </div>
    </p-footer>    
</p-dialog>
<p-dialog header="Registration" [(visible)]="showRegForm" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm.value)">
        <div class="row col-md-12">
            <div class="form-group col-md-4">
                <input type="text" placeholder="Enter Name" class="form-control" pInputText formControlName="name">
            </div>
            <div class="form-group col-md-4">
                <input type="text" placeholder="Enter FIR Number" class="form-control" pInputText
                    formControlName="fir_no">
            </div>
            <div class="form-group col-md-4">
                <p-dropdown [options]="case_types" placeholder="Select Case Type" formControlName="status"
                    optionLabel="name"></p-dropdown>
            </div>
            <div class="form-group col-md-4">
                <input type="text" placeholder="Enter PS Name" class="form-control" pInputText
                    formControlName="ps_name">
            </div>
            <div class="form-group col-md-8 pr-0">
                <textarea pInputTextarea autoResize="autoResize" class="form-control" pInputText
                    placeholder="Enter Remarks" formControlName="remarks"></textarea>
            </div>
        </div>


        <div class="row text-center mt-2 justify-content-center align-content-center">
            <button pButton type="submit" label="Submit" class="ui-button-raised"></button>
            <button pButton type="button" label="Cancel" (click)="onCancel()"
                class="ui-button-raised ui-button-danger ml-2"></button>
        </div>
    </form>

</p-dialog>