
/* .container{
    overflow: hidden;
}
.camel_case{
    text-transform: capitalize;
}
.view_btn{
    border: 1px solid rgb(175, 172, 172);
    border-radius: 3px;
    background:transparent;
    padding: 4px;
}
.view_btn:hover{
    background-color:#149754;
    color:#fff;
} */
.table_img{
  width: 55%;
  border-radius: 50%;
  height: 50px;
  cursor: pointer;
}
.container-fluid{
  height:100vh;
}
.header_width:nth-child(n){
  width: 40px;
}
.submit_btn{
  background-color: #0A5A00;
}
.cancel_btn{
  background-color: #890101;
  /* background-image: linear-gradient(to right top, #a12929, #9b2120, #951817, #8f0e0d, #890101); */
}
.ui-button-raised{
  border-radius: 30px;
  border: none !important;
  padding: 0px 9px 0px 9px;
}
.bg_sep{
  background-color: #d56a2a !important;
}