
/* .container{
    overflow: hidden;
}
.camel_case{
    text-transform: capitalize;
}
.view_btn{
    border: 1px solid rgb(175, 172, 172);
    border-radius: 3px;
    background:transparent;
    padding: 4px;
}
.view_btn:hover{
    background-color:#149754;
    color:#fff;
} */
.table_img{
  width: 35%;
  border-radius: 50%;
  height: 50px;
}
.container-fluid{
  height:100vh;
}
.header_width:nth-child(n){
  width: 40px;
}